<a href="https://colab.research.google.com/github/Litfury/DSMP_tasks/blob/main/1_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data-Science-Mentorship-Program-started-By-CampusX")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
cel = int(input("Input Celsius : "))
faren = cel*(9/5) + 32
print ("farenheit : ",faren)

farenheit :  71.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
num1 = int(input("enter number 1 : "))
num2 = int(input("enter number 2 : "))
temp = num1
num1 = num2
num2 = temp

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
import math
X1 = int(input("enter 1st X co-ordinate : "))
Y1 = int(input("enter 1st Y co-ordinate : "))
X2 = int(input("enter 2nd X co-ordinate: "))
Y2 = int(input("enter 2nd Y co-ordinate: "))
distX =  math.sqrt((X2-X1)*(X2-X1) + (Y2-Y1)*(Y2-Y1))
print(distX)

13.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
val = int(input("enter the value : "))
time = int(input("enter the years : "))
interest = int(input("enter the rate of interest : "))

simple = val * (1 + (time*interest)/100)
compound = val * ((1 + interest/100)**time)

print("compound =",compound,',',"simple =",simple)

enter the value : 200
enter the years : 4
enter the rate of interest : 9
compound = 282.31632200000007 , simple = 272.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

heads = int(input("enter the number of heads : "))
legs = int(input("enter the number of legs : "))
dogs = legs/2 - heads
chickens = 2*heads - legs/2

print("dogs",dogs,",","chickens",chickens)

enter the number of heads : 4
enter the number of legs : 12
dogs 2.0 , chickens 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here

inp = int(input("enter the n : "))
sum = 0
for i in range(inp+1):
  sum += i*i
print(sum)

enter the n : 4
30

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
inp1 = int(input("enter the 1st val: "))
inp2 = int(input("enter the 2nd val: "))
nth = int(input("enter the value of n: "))
d = inp2 - inp1
print(inp1 + (nth-1)*d)

enter the 1st val: 1
enter the 2nd val: 2
enter the value of n: 7
7

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

print("enter for 1st fraction")
num1 = int(input("numerator : "))
den1 = int(input("denominator : "))

print("enter for 2nd fraction")
num2 = int(input("numerator : "))
den2 = int(input("denominator : "))

num = num1*den2 + num2*den1
den = den1*den2

print(num,'/',den)

enter for 1st fraction
numerator : 1
denominator : 4
enter for 2nd fraction
numerator : 1
denominator : 2
6 / 8

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
from math import pi as p

print("enter for tank")
h_t = int(input("height : "))
l_t = int(input("length : "))
b_t = int(input("breadth : "))

print("enter for glass")
h_g = int(input("height : "))
r_g = int(input("raidus : "))

vol_t = h_t * l_t * b_t
vol_g = h_g * r_g * r_g * p

print(vol_t//vol_g)

enter for tank
height : 10
length : 10
breadth : 10
enter for glass
height : 1
length : 2
79.0