<a href="https://colab.research.google.com/github/Litfury/DSMP_tasks/blob/main/2.2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
inp = int(input("enter the CTC (in lakhs) (generally CTC is given on an annual basis) : "))
inp = inp - 0.18 * inp

if(inp <= 5):
  print((inp*100000)/12)
elif(inp <= 10):
  print((inp*0.9*100000)/12)
elif(inp <= 20):
  print((inp*0.8*100000)/12)
else:
  print((inp*0.7*100000)/12)

enter the CTC (in lakhs) (generally CTC is given on an annual basis) : 4
27333.333333333332

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here

a1 = int(input("enter the value of angle 1 = "))
a2 = int(input("enter the value of angle 2 = "))
a3 = int(input("enter the value of angle 3 = "))

if(a1 + a2 + a3 == 180):
  print("these angles can form a triangle")
else:
  print("these angles can't form a triangle")

enter the value of angle 1 = 100
enter the value of angle 2 = 20
enter the value of angle 3 = 60
these angles can form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here

CP = int(input("enter the cost price : "))
SP = int(input("enter the selling price : "))

if(CP > SP):
  print("it's a loss")
elif(CP < SP):
  print("it's a profit")
else:
  print("neither profit nor loss")

enter the cost price : 10
enter the selling price : 20
it's a profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here


while(True):
  print()
  print("1. cm to ft")
  print("2. km to miles")
  print("3. USD to inr")
  print("4. exit")
  inp = input("enter the number : ")

  if(inp == '1'):
    val = int(input("enter the value in cm : "))
    print("{0} cm is equivalent to {1} ft".format(val,val*0.0328084))

  elif(inp == '2'):
    val = int(input("enter the value in km : "))
    print("{0} km is equivalent to {1} miles".format(val,val*0.621371))

  elif(inp == '3'):
    val = int(input("enter the value in USD : "))
    print("{0} USD is equivalent to {1} INR".format(val,val*86.86))

  elif(inp == '4'):
    break

  else:
    print("aby saale, kripiya karke sahi number daale")

1. cm to ft
2. km to miles
3. USD to inr
4. exit
enter the number : 1
enter the value in cm : 100
100 cm is equivalent to 3.28084 ft

1. cm to ft
2. km to miles
3. USD to inr
4. exit
enter the number : 3
enter the value in USD : 1000
1000 USD is equivalent to 86860.0 INR

1. cm to ft
2. km to miles
3. USD to inr
4. exit
enter the number : 3
enter the value in USD : 6000
6000 USD is equivalent to 521160.0 INR

1. cm to ft
2. km to miles
3. USD to inr
4. exit
enter the number : 89
aby saale, kripiya karke sahi number daale

1. cm to ft
2. km to miles
3. USD to inr
4. exit
enter the number : 4

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
n = int(input("enter the value of n : "))
num1 = 0
num2 = 1
for i in range(n):
  temp = num1 + num2
  num1,num2 = num2,temp
  print(temp)

enter the value of n : 10
1
2
3
5
8
13
21
34
55
89

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
n = int(input("enter the value of n : "))
fact = 1
for i in range(1,n+1):
  fact *= i

print(fact)

enter the value of n : 5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here

n = int(input("enter the value of n : "))
rev = 0

while(n != 0):
  rev = rev*10 + n%10
  n = n//10

print(rev)

enter the value of n : 87453
35478

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [41]:
# Write code here
n = int(input("enter the value of n : "))

if(n >= 26):
  print(276)
else:
  x = n//5
  print(int(((n*(n+1))/2) - ((x)*(x+1)*5)/2))

enter the value of n : 25
250

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

L = []

while(True):
  x = int(input("enter the number : "))
  if(x == 0):
    break
  else:
    L.append(x)

if(L == []):
  print("Sum",0)
  print("Avg",0)
else:
  sum = 0
  for i in L:
    sum += i

  print("Sum",sum)
  print("Avg",sum/(len(L)))

enter the number : 10
enter the number : 20
enter the number : 0
Sum 30
Avg 15.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [28]:
# Write code here

def div_by_7(x):
  if(x%7 == 0):
    return True
  return False

def not_div_by_5(x):
  if(x%5 != 0):
    return True
  return False

for i in range(2000,3201):
  if(div_by_7(i) and not_div_by_5(i)):
    print(i,end =", ")

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

def func(x):
  flag = True
  while(x != 0):
    if((x%10)%2 != 0):
      flag = False
      break
    x = x//10
  return flag

for i in range(1000,3001):
  if(func(i)):
    print(i,end = ' ')

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [30]:
# Write code here

x = 0
y = 0
while(True):
  inp = input()

  if(inp[:2] == "UP"):
    y += int(inp[3:])
  elif(inp[:4] == "DOWN"):
    y -= int(inp[5:])
  elif(inp[:4] == "LEFT"):
    x -= int(inp[5:])
  elif(inp[:5] == "RIGHT"):
    x += int(inp[6:])
  elif(inp == '!'):
    break
  else:
    print("sahi input daal na mere bhai")

print(str((x**2 + y**2)**0.5)[0])

UP 5
DOWN 3
LEFT 3
RIGHT 2
!
2

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here
from math import floor

n = int(input("enter the number : "))
flag = True

for i in range(2,floor(n**0.5)):
  if(n%i == 0):
    flag = False
    break

if(flag == True):
  print("the number is prime")
else:
  print("the number is not prime")

enter the number : 7
the number is prime

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here
def sum(x):
  sum = 0
  while(x != 0):
    sum += (x%10)**3
    x = x//10
  return sum

n = int(input("enter the number : "))

for i in range(n+1):
  if(sum(i) == i):
    print(i,end = ' ')

enter the number : 700
0 1 153 370 371 407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here
from math import floor

H = int(input("enter the hour : "))
M = int(input("enter the minutes : "))

if(H >= 12):
  H -= 12

angle_m = M*6
angle_h = H*30 + M/2

angle = abs(angle_m - floor(angle_h))
if(angle > 180):
  angle = 360 - angle
print(angle)

enter the hour : 10
enter the minutes : 10
115

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here

def func(x1,y1,x2,y2):
  if(x2>x1 and y2>y1):
    return True
  else:
    return False

#rectangle 1
l1_x = int(input("enter the x co-ordinate of rectangle one's l1 point :"))
l1_y = int(input("enter the y co-ordinate of rectangle one's l1 point :"))

r1_x = int(input("enter the x co-ordinate of rectangle one's r1 point :"))
r1_y = int(input("enter the y co-ordinate of rectangle one's r1 point :"))

#rectangle 2
l2_x = int(input("enter the x co-ordinate of rectangle two's l2 point :"))
l2_y = int(input("enter the y co-ordinate of rectangle two's l2 point :"))

r2_x = int(input("enter the x co-ordinate of rectangle two's r2 point :"))
r2_y = int(input("enter the y co-ordinate of rectangle two's r2 point :"))

if(func(min(l2_x,r2_x),min(l2_y,r2_y),max(l1_x,r1_x),max(l1_y,r1_y))):
  print("the rectangles overlap")
else:
  print("the rectangles do not overlap")

enter the x co-ordinate of rectangle one's l1 point :4
enter the y co-ordinate of rectangle one's l1 point :0
enter the x co-ordinate of rectangle one's r1 point :0
enter the y co-ordinate of rectangle one's r1 point :4
enter the x co-ordinate of rectangle two's l2 point :5
enter the y co-ordinate of rectangle two's l2 point :1
enter the x co-ordinate of rectangle two's r2 point :1
enter the y co-ordinate of rectangle two's r2 point :5
the rectangles overlap