<a href="https://colab.research.google.com/github/Litfury/DSMP_tasks/blob/main/5.5_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [10]:
# write your code here

test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
flag = []
result = []
for i in test_list:

  if(i[0] in flag):
    for j in range(len(result)):
      if(i[0] == result[j][0]):
        result[j] = result[j] + (i[1],)

  else:
    flag.append(i[0])
    result.append(i)

print(result)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [11]:
# write your code here
tup = (1, 5, 7, 8, 10)
result = []

for i in range(len(tup)):
  if(i == 0):
    result.append(tup[i]*tup[i+1])
  elif(i == len(tup) - 1):
    result.append(tup[i]*tup[i-1])
  else:
    result.append(tup[i]*(tup[i+1]+tup[i-1]))

print(tuple(result))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [14]:
# write your code here

t1 = (1,2,3,0)
t2 = (0,1,2,3)

if(len(t1) != len(t2)):
  print("t1 and t2 are not same")
else:
  flag = True
  for i in range(len(t1)):
    if(t1[i] != t2[i]):
      flag = False
      break
  if(flag == False):
    print("t1 and t2 are not same")
  else:
    print("t1 and t2 are same")

t1 and t2 are same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [19]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

op = [0,0,0] #0th pos -> list, 1st pos -> set, 3rd pos -> tuple

for i in list1:
  if(type(i) == type([])):
    op[0] += 1
  elif(type(i) == type({1})):
    op[1] += 1
  elif(type(i) == type((1,))):
    op[2] += 1

print("List -",op[0],"\nSet -",op[1],"\nTuples -",op[2])

List - 2
Set - 2
Tuples - 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [20]:
# write your code here

records = []

s_name = ''


num_of_record = int(input("Enter No of records - "))
for i in range(num_of_record):
  print("enter the details of student",i+1,"\n")
  s_name = input("Enter Student Name - ")
  edu = input("Enter Higher Education - ")
  p_skill = input("Enter Primary Skill - ")
  y_og_grad = input("Enter Year of Graducation - ")
  records.append((s_name,edu,p_skill,y_og_grad))

print("\n\nEnter Job Role Requirement\n")
skill = input("Enter skill - ")
edu = input("Enter Higher Education - ")
grad = input("Enter Year of Graduation - ")

for i in records:
  if(skill == i[2] and edu == i[1] and grad == i[3]):
    print(i)

Enter No of records - 3
enter the details of student 1

Enter Student Name - navankur
Enter Higher Education - B.tech
Enter Primary Skill - Python
Enter Year of Graducation - 2022
enter the details of student 2

Enter Student Name - kushal
Enter Higher Education - B.tech
Enter Primary Skill - C++
Enter Year of Graducation - 2022
enter the details of student 3

Enter Student Name - pranay
Enter Higher Education - B.tech
Enter Primary Skill - Python
Enter Year of Graducation - 2022


Enter Job Role Requirement

Enter skill - Python
Enter Higher Education - B.tech
Enter Year of Graduation - 2022
('navankur', 'B.tech', 'Python', '2022')
('pranay', 'B.tech', 'Python', '2022')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [5]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
result = list(set(ar1) & set(ar2) & set(ar3))
print(result)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [3]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
test_str = "aeiouAEIOU"
count = 0
for i in set(Str1):
  if(i in test_str):
    count += 1

print("No of unique vowels -",count)

No of unique vowels - 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [7]:
# write your code here

for i in range(3):
  inpt = input("Input : ")
  if(len(set(inpt)) == 2):
    print("Output : Yes\n")
  else:
    print("Output : No\n")

Input : 01010101010
Output : Yes

Input : 1222211
Output : Yes

Input : Campusx
Output : No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [9]:
# write your code here
test = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

result = set()

for list1 in test:
  result = result | set(list1)

print(list(result))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [5]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[x for x in lst1 if x in lst2]

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [26]:
# write your code here
d = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

max = 0
max_key = None
for key in d:
  val = len(set(d[key]))
  if(val > max):
    max_key = key
    max = val

print(max_key)

Best

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [28]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

l1 = test_str.split(" ")

for i in range(len(l1)):
  if(l1[i] in repl_dict):
    l1[i] = repl_dict[l1[i]]

print(" ".join(l1))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [4]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

test1 = {}
result = []

for i in range(len(test_list)//2):
  test1[key_list[0]] = test_list[(i*2)+0]
  test1[key_list[1]] = test_list[(i*2)+1]
  result.append(test1)

  test1 = {}

print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [31]:
# write your code here
def add_to_dict(dict1,key,value):
  dict1[key] = value

l1 = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
op_dict = {}

for i in l1:
  add_to_dict(op_dict,i[0],i[1])

print(op_dict)

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [40]:
# write your code here

dict1 = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

for key in dict1:
  dict1[key].sort()

print(dict1)

{'c': [3], 'b': [10, 12], 'a': [4, 19]}